@text-color: #0d1223;
@text-muted: #918f90;
@brand-danger: #d9534f;
@background-selected: #f7f7f7;
@border-color: #eee;

@import (inline) 'loading.css';

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

html, body, #main {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;

  color: @text-color;
  line-height: 1.5rem;
}

#main {
  display: flex;
  flex-direction: column;

  &>.progress {
    flex: 0 0 auto;
  }
}

.progress {
  text-align: center;

  &.done {
    display: none;
  }
}

.panes {
  flex: 1 1 auto;
  position: relative;

  &>.filter-list, &>.token-list {
    width: 50%;

    position: absolute; // allows height: 100% to work
    height: 100%; // allows overflow-y: auto to work
    overflow-y: auto;
  }

  &>.token-list {
    left: 50%;
  }
}

.token-list {
  padding: 1rem;

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
  }

  table.too-wide {
    .n-documents { display: none; }
  }

  th {
    border-bottom: 1px solid black;
  }

  td {
    border-top: 1px solid #eee;
    vertical-align: top;
  }

  td, th {
    text-align: left;
    padding: .5rem 1rem;
  }

  td.token {
    cursor: pointer; // Because it selects the word
  }

  td.token, th.token {
    padding-left: 0; // Because the "remove" button is 1rem wide
  }

  th.actions {
    padding: 0;
  }

  td.actions {
    width: 1px; // take the minimum amount of space
    padding-left: 0;
    padding-right: 0;

    button {
      border: 0;
      background: transparent;
      padding: 0;
      margin: 0;
      display: inline-block;
      cursor: pointer;
      font: inherit;
      font-weight: bold;
      width: 1rem;
      color: @brand-danger;
      visibility: hidden;
    }
  }

  tr:hover td.actions button {
    visibility: visible;
  }

  .frequency, .n-documents {
    width: 1px; // take the minimum amount of space
    text-align: right;
  }

  td.frequency, td.n-documents {
    color: @text-muted;
    font-size: .9rem;
  }

  span.title {
    display: block;
    color: @text-muted;
    font-size: .8rem;
    white-space: nowrap;
    width: 1px;
  }
}

.filter-list {
  padding: 1rem 0;

  h3 {
    margin: .5rem 0;
    font: inherit;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
  }

  li.filter {
    position: relative;
    padding: .5rem 1rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    span.description {
      display: none;
    }

    &.selected {
      background: @background-selected;
      border-top-color: @border-color;
      border-bottom-color: @border-color;

      span.description {
        display: block;
      }

      & + li.selected {
        border-top-color: transparent; // collapse borders
      }
    }

    label {
      cursor: pointer;
    }

    input {
      position: absolute;
      top: .75rem;
      margin-top: 1px;
    }

    strong, span.description {
      margin-left: 2rem;
    }

    strong {
      display: block;
      font-weight: normal;
    }

    span.description {
      font-size: .9rem;
      font-family: serif;
      color: @text-muted;
    }
  }

  ul.tokens {
    margin: .5rem;

    li {
      margin: 0 .5rem;
      display: inline-block;

      button {
        border: 0;
        background: transparent;
        padding: 0;
        margin: 0;
        display: inline-block;
        cursor: pointer;
        font: inherit;
        color: @brand-danger;
      }
    }
  }
}
