node_modules
public
data/allCountries.zip
data/names.zip
data/geonames.txt
data/us-surnames.txt
data/csv.zip
data/icij-offshore-leaks-names.txt
data/googlebooks-eng-all-1gram-20120701-*.gz
data/wn3.1.dict.tar.gz
