doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Overview Entity Filter
    link(rel="stylesheet", href="show.css")

  body
    #main
    script(src="show.js")
